@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap");

body {
  margin: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #ead3c1;
}
.main {
  display: flex;
  flex-direction: row;
}
.main-body {
  width: 100vw;
  padding: 15px;
}

.team-col {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 100px;
}

.team-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.player {
  padding: 5px 8px 5px 8px;
  background-color: #ead3c1;
  border-radius: 5px;
  border: #851d30 1px solid;
  min-width: 60px;
}

.posi-text {
  display: block;
  text-align: center;
  font-size: 12px;
}
.side-body {
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 0px;
}
.output-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80vh;
}
.formation-div {
  display: flex;
  flex-direction: column;
  background-color: #ead3c1;
}
.generate {
  color: white;
  text-align: center;
  width: 100px;
  padding: 5px;
  background-color: #851d30;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
}
.generate:hover {
  background-color: #9bdeac;
  color: #1c1c1c;
  cursor: pointer;
  border: #1c1c1c 1px solid;
}
.generate:active {
  transform: scale(0.9);
}
.formation-title {
  text-align: center;
  font-size: 23px;
  margin: 5px;

  background-color: #851d30;
  border-radius: 8px;
  color: white;
}
.formation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1100px;
  max-height: 200px;
  margin: 10px;
  color: #fff;
}

.team-formation {
  width: 50%;
  height: 95%;
  margin: 15px;
  border-radius: 15px;
  background-color: #9bdeac;
  border: #851d30 2px solid;
}

.available-formation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.available-formation > input[type="radio"] {
  width: fit-content;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  outline: none;
  border: solid 2px #851d30;
  border-radius: 30%;
  margin: 0px;
  margin-right: 8px;
}
.available-formation > input[type="radio"]:checked {
  background-color: #9bdeac;
  border-color: #851d30;
  margin: 0px;
  margin-right: 8px;
}

.available-players {
  height: 590px;
  width: 320px;
  max-width: 320px;
  min-width: 265px;
  background-color: #9bdeac;
  border-radius: 15px;
  border: #851d30 2px solid;
}

.search {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.filter-class {
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  margin-left: 5%;
  margin-top: 5%;
}

.filter-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.filter-text p {
  margin: 0px;
}

.position {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #851d30;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s;
}

.position:hover {
  transform: scale(1.1);
}

.position:active {
  opacity: 0.7;
}

.result-body {
  width: 90%;
  height: 170px;
  overflow-y: scroll;
  background-color: #fff;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 15px;
  border: #851d30 2px solid;
}
.result-body::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.mid-section {
  display: flex;
  flex-direction: row;
  column-gap: 20%;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  margin-left: 10%;
}

.avail-text {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.playercount {
  background-color: #ead3c1;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #851d30;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s;
}

.submit:hover {
  transform: scale(1.1);
}

.submit:active {
  opacity: 0.7;
}

.button-div {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: bottom;
  margin: 10px;
  margin-left: auto;
}

.available-body {
  width: 90%;
  height: 220px;
  overflow-y: scroll;
  background-color: #fff;
  margin-left: 5%;
  border-radius: 15px;
  border: #851d30 2px solid;
}
.available-body::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* Rechecking the visuals error*/
.addPlayer {
  position: fixed;
  bottom: 3%;
  right: 5%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #851d30;
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.viewDatabase {
  position: fixed;
  bottom: 3%;
  right: 13.5%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #851d30;
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.viewDatabase:hover,
.addPlayer:hover {
  transform: scale(1.1);
  background-color: #851d30;
}
.viewDatabase:active,
.addPlayer:active {
  opacity: 0.7;
}
.viewDatabase i,
.addPlayer i {
  font-size: 28px;
}
.link-newplayer {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-database {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hoverText {
  position: absolute;
  bottom: 30%;
  right: 115%;
  font-size: 24px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1c1c1c;
  white-space: nowrap;
  opacity: 0;
  text-align: center;
  transition: opacity 0.2s;
  pointer-events: none;
}
.hoverText p {
  margin: 0px;
  font-weight: 100;
}
.show {
  opacity: 1;
}

  .formation-team-title{
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }