@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');
  body{
    font-family: 'Poppins', sans-serif;
  }

  .main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 400px;
  background-color: #9BDEAC;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 50px 5px #141414;
  }

  #closebtn{
    background-color: #851d30;
    color: #fff;
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: -1.5%;
    right: -1.5%;
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #closebtn:hover{
    transform: scale(1.15);
  }

  #close{
    text-align: center;
    text-decoration: none;
    color: #fff;
  }

  .outerframe{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .default-profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .label{
    display: block;
    margin: 10px;
  }
  .options {
    width: 200px;
  }

  input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
    outline: none;
    width: 180px;
  }

  #rad{
    width:auto;
    margin-right:5px;
  }

  #submit{
    width: 100px;
    background-color: #851d30;
    color: #fff;
    border-radius: 30px;
  }
  #submit:hover{
    opacity: 0.9;
  }
  #submit:active{
    opacity:1.2;
  }
  .contents{
    align-content: center;
  }

  select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer;
  }

  option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }

  option:checked {
    background-color: #e0e0e0;
    color: #000;
  }

  .radio-class {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  height: 50px;
  width: 375px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #851d30;
  color: #fff;
  padding: 10px;
  }

  @media screen and (max-width: 700px) and (orientation: portrait) {

    .main-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        width: 80%;
        background-color: #9BDEAC;
        padding: 10px;
        border-radius: 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);
        box-shadow: 1px 1px 50px 5px #141414;
        }

    .outerframe{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }


      .label{
        display: inline;
        margin: 10px;
      }
      .options {
        width: 175px;
        margin-top: 10px;
      }

      #submit{
        width: 100px;
        background-color: #851d30;
        color: #fff;
        border-radius: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      #submit:active{
        opacity:1.2;
      }

      #rad{
        width:auto;
        margin-right:0px;
      }

      .radio-class {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        height: 50px;
        width: 275px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background-color: #851d30;
        color: #fff;
        padding: 10px;
        }
}